# Data files
Data/
*.csv
runs/
ablation/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so


# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
.env/

# Distribution / packaging
dist/
build/
*.egg-info/

*.ipynb

test/
pytest.ini